#formulario{
    background: rgb(218, 81, 81);
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
.form-titulo{
    background: rgb(77, 77, 77);
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    border-bottom: solid 5px rgb(211, 91, 91);
    border-radius: 8px 8px 0px 0px;


}
#formulario .form-contacto{
    width: 95%;
    margin: auto;
    max-width: 600px;
    background: whitesmoke;
    border-radius: 8px;
}

.contenedor-input{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#formulario input{
    padding: 10px;
    margin-bottom: 10px;
}



.btn-enviar{
    background: rgb(48, 48, 48);
    margin: auto;
    color: whitesmoke;
}
.form-contacto .col-12{
    text-align: left;
}
